[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
neo4j = "*"
notebook = "*"
requests = "*"
colorama = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
