[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
pipeline = "python -m app.pipeline"
dados_abertos = "python -m app.dados_abertos.main"
build_kg = "python -m app.build_kg.main"
test = "pytest test/"
jupyter = "jupyter notebook --no-browser"
fmt = "./scripts/pipenv-format-code.sh"

[packages]
neo4j = "*"
notebook = "*"
requests = "*"
colorama = "*"
alive-progress = "*"
papermill = "*"
numpy = "*"
python-dotenv = "*"
pandas = {extras = ["postgresql"], version = "*"}
thefuzz = "*"
nltk = "*"

[dev-packages]
isort = "*"
autopep8 = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
